simplified_ui false
pane_frames true
default_layout "default"
default_shell "fish"
auto_layout true

ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds {
    shared {
        bind "Alt 1" { NewTab; }
        bind "Alt 2" { GoToNextTab; }
        bind "Alt 3" { CloseTab; }
    }
}
